.footer {
    background-color: #C9C9C9;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo-section {
    width: 25%;
}

.logo-section img {
    /* height: 64%; */
    width: 61%;
    margin-top: 4%;
}

.links-secton {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.icon-links {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}