.container {
    background-color: #9b6b6b;
    color: black;
    height: 100vh;
    display: grid;
}

.verification-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* top: 0%; */
    position: relative;
    left: 15%;
    /* width: -moz-fit-content; */
    width: fit-content;
    padding: 3%;
    gap: 20px;
}

.varification-page h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}

.otp-inputs {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px; */
}

.otp-inputs input {
    width: 60px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border: none;
}

.otp-inputs input:focus {
    outline: 2px solid rgb(9, 145, 9);
    border-color: transparent;
}

.submit-btn {
    color: white;
    background-color: green;
    width: 175px;
    padding: .5rem;
    border-radius: 13px;
    border: none;
}

@media only screen and (max-width:375px) {
    .otp-inputs input {
        height: 55px;
        max-width: 46px;
        font-size: 24px;
    }
}